.todo-date{
	display: flex;
	flex-direction: column;
	width: 4rem;
	height: 4rem;
	border: 1px solid #ececec;
	background-color: #2a2a2a;
	color: white;
	border-radius: 12px;
	align-items: center;
	justify-content: center;
}

.todo-date__month{
	font-size: 0.65rem;
	font-weight: bold;
}

.todo-date__year{
	font-size: 0.65rem;
}

.todo-date__day{
	font-size: .95rem;
	font-weight: bold;
}